.row{
    width: auto;
    height: 27em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.log{
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap:2em;
    background: linear-gradient(110deg, rgba(17,171,202,1) 0%, rgba(17,171,202,1) 56%, rgba(219,17,219,1) 100%);
    border-radius: 15px;
    border: solid white 1px;
    box-shadow: 1px 2px 20px purple ;
    font-family: cursive;
}
.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5em;
    font-weight: 600;
    color:rgb(14, 7, 75);
    -webkit-text-stroke-color:white;
    -webkit-text-stroke-width: 0.2px;
}

input{
    padding: 0.2em;
    border: solid 1.2px purple;
    border-radius: 3px;
}


.boton{
    background-color: purple;
    color: white;
    padding: 5px;
    border: 1px purple solid;
    border-radius: 5px;   
    font-size: 0.8em;
}

.boton:hover{
    transform: scale(1.1);
    box-shadow: 1px 2px 10px white;
    font-weight: 600;
    background-color: rgb(9, 16, 148);
    color: white;

}

.register-link:hover{
    color: rgb(9, 16, 148);
    -webkit-text-stroke-color:purple;
    -webkit-text-stroke-width: 0.3px;
    text-shadow: 10px 5px 15px purple;
}